/* define common color and font properties used across the page here*/
:root {
  --sandybrown: #f9a66c;
  --pastelorange: #ffc94b;
  --deepspacesparkle: #f9faf4;
  --center: center;
  --white: rgba(255, 255, 255);
  --headercolor: #21404c;
  --h1shadow: #637981;
  --h1color: #2100f2;
  --h1blue: #372992;
  --headercolor: fuchsia;
  --bodycolor: rgb(216, 191, 216);
  --coverpagebordercolor: rgb(139, 0, 139);
  --coverpagerowcolor: rgb(128, 0, 128, 0.5);
  --borderanglecolor: indigo;
  /* rainbow color is not used now. keeping it for future purpose(if any)*/
  --webkitcolor: -webkit-linear-gradient(
    50deg,
    black,
    green,
    red,
    purple,
    black
  );
  --rainnowcolor: repeating-linear-gradient(
    45deg,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  --fontapple: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --fontcourier: "Courier New", Courier, monospace;
}

/*define properties using universal selcetor here  - applied to the entire page*/

* {
  box-sizing: border-box;
}
html {
  font-size: 70%;
}
/* margin and background color properties - body*/

body {
  margin: 1px;
  padding: 5px;
  line-height: 1;
  background: var(--bodycolor);
}
/*define properties for the header, and its associated elements here - nav, a, ul, li, img
headers position propery is fixed, so that it sticks to  the top even when the page scrolls to desired sections on click
Z-index is set to 100 so that the header is eleveted to the top of the cover page image when the page scrolls.
*/

header {
  font-family: var(--fontcourier);
  font-size: 3rem;
  font-weight: 700;
  text-align: var(--center);
  line-height: 1.5rem;
  /*margin: 0 auto;*/
  color: var(--headercolor);
  position: fixed;
  z-index: 100;
  /* width: 100%;*/
  width: 96%;
  left: 15px;
}

header img {
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 5px;
  width: 30px;
}
header ul {
  list-style: none;
  text-align: center;
  padding-top: 10px;
}
header li {
  display: inline;
  font-size: 1rem;
}

/* nav is defined as flex so that the size gets adjusted based on device */
nav {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 0.5rem;
  background-color: var(--coverpagebordercolor);
  border-radius: 50px;
  opacity: 0.7;
  margin-top: 2px;

  transition: width 2s;
}
nav a {
  flex: 1;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  text-align: left;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

/*define properties for elements in the main here - cover page, portfolio text and image, sections - about me, projects, contact */
main {
  width: 96%;
  font-family: var(--fontapple);
  margin: 0rem auto;
}

/* card-img class holds the cover page
it is defined as relative to hold the image in it.
and it is a flex container to grow and shrink based on visitor's device
*/
.card-img {
  display: flex;
  position: relative;
  text-align: center;
  left: 0;
  margin-top: 50px;
}

/*
.card-img  .bottom holds the cover page
it is defined absolute to be inside the card-img container.
and then defined as relative to position the sections after the image ends
*/
.card-img .bottom {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 1;
  top: 0;
  position: relative;
}

/* .coverpage row - 1 and .coverpage row - 2  represent the sections aboutme, projects , contact.
These sections start after the image.
They are flex containers and transform based on viewing device.
*/

.coverpage-row-2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10%;
  left: 10;
  width: auto;
  height: auto;
  padding: 20px;
  margin-right: 30px;
  /*border: 5px solid indigo;*/
  /* border-radius: 10px;*/
  /*transform: rotate(20deg);*/
  /*background-color: rgb(128, 0, 128, 0.5);*/
}

.coverpage-column-2 {
  flex: 1 0 100%;
  /*border: 1mm dotted purple;*/
  margin: 5px auto;
  font-size: 7rem;
  color: var(--deepspacesparkle);
  font-weight: 600;
  justify-content: right;
}

.coverpage-row-3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 60%;
  width: 50%;
  height: auto;
  padding: 20px;
  margin-right: 50px;

  right: 20px;
  background-color: var(--coverpagerowcolor);
  color: var(--deepspacesparkle);
}

/* after selector is used to draw a border after the cover page text in an angle of -10 deg*/

.coverpage-row-3::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 5px solid var(--borderanglecolor);
  border-radius: 10px;
  transform: rotate(-10deg);
  pointer-events: none;
}

.coverpage-column-3 {
  flex: 1 0 100%;
  border-radius: 10px;
  margin: 5px auto;
  font-size: 4rem;
  color: var(--deepspacesparkle);
  font-weight: 600;
  justify-content: right;
}

.card-img img {
  border: 1px solid var(--h1color);
  border-radius: 60px;
  width: 100px;
  padding: 10px;
  background-color: var(--borderanglecolor);
  transition: width 2s;
}

.cover-child-p-2 img {
  border: 1px solid var(--white);
  border-radius: 10px;
  width: 200px;

  padding: 5px;
  background-color: var(--borderanglecolor);
  transition: width 2s;
}

/* card-row class  is a flex container and holds the header and the description text of the sections*/

.card-row {
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  position: relative;
  justify-content: center;
}

.card-column {
  flex: 1 0 100%;
  border: 1mm ridge var(--borderanglecolor);
  border-radius: 25px;
  margin: 5px;
  padding: 1px;
}

.card-column h2 {
  font-size: 2rem;
  margin: 5px;
  text-align: right;
  background-color: var(--headercolor);
  border-radius: 60px;
  background: -webkit-linear-gradient(
    var(--coverpagebordercolor),
    var(--borderanglecolor)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.card-child img {
  border: 1px solid var(--deepspacesparkle);
  border-radius: 40px;
  width: 100px;
  padding: 5px;
  background-color: var(--coverpagebordercolor);
  transition: width 2s;
}

.card-child img:hover {
  width: 120px;
}

.card-child {
  flex-grow: 1;
  color: var(--coverpagebordercolor);
  font-size: 1.5rem;
}

/*
.card-child-p {
  flex-grow: 1;
}
*/

.card-child p {
  padding-bottom: 5px;
}

.card-child-p-ul li {
  font-size: 1.5rem;
  line-height: 2;
  padding-left: 10px;
}

.card-child-p-ul-p {
  border: var(--borderanglecolor);
  background-color: var(--coverpagebordercolor);
  height: 10px;
  margin-bottom: 10px;
}

/* the list items <p> tag width and color are helpful to define skill set level*/
.p1 {
  width: 50%;
}
.p2 {
  width: 50%;
}

.p3 {
  width: 30%;
}

.p4 {
  width: 20%;
}

.p5 {
  width: 50%;
}

.boldtxt {
  font-weight: bold;
}

footer {
  /* background: linear-gradient(45deg, #09792e, #00d4ff);*/
  position: absolute;
  width: 100%;
  font-weight: 600px;
  color: var(--white);
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
}

footer p {
  opacity: 2;
  background-color: var(--coverpagebordercolor);
}

/*  start adjusting the screen size, font properties, flex properties here, to maintain a good page view experience across devices

aboutme-img image is set as display:none for all screen sizes except for smaller screens (width 200 -499px)

this setting makes sure that, for smaller screens, portfolio image is shown in about me section whereas for wider screens it is displayed on the cover page.
*/

@media screen and (min-width: 768px) and (max-width: 768px) {
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .coverpage-row-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .coverpage-column-2 {
    font-size: 3rem;
  }

  .coverpage-column-3 {
    font-size: 2rem;
  }

  .coverpage-row-3 {
    top: 70%;
  }
  .aboutme-img {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .card-column {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .coverpage-row-2 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .coverpage-row-2 {
    top: 5%;
    left: 10;
  }

  .coverpage-column-2 {
    font-size: 4rem;
  }

  .cover-child-p-2 img {
    width: 200px;
  }

  .coverpage-row-3 {
    top: 60%;
  }

  .coverpage-column-3 {
    font-size: 2rem;
  }

  .card-child-p-ul li {
    font-size: 1.3rem;
  }

  .aboutme-img {
    display: none;
  }
}

@media screen and (min-width: 1101px) {
  .card-column {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .coverpage-row-2 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .aboutme-img {
    display: none;
  }
}

@media screen and (min-width: 500px) and (max-width: 670px) {
  .coverpage-row-2 {
    top: 5%;
    left: 0px;
  }

  .coverpage-column-2 {
    font-size: 2rem;
  }

  .cover-child-p-2 img {
    width: 100px;
    border: 0.5px solid var(--white);
    border-radius: 10px;
    width: 75px;
    padding: 1px;
  }

  .coverpage-row-3 {
    top: 60%;
  }

  .coverpage-column-3 {
    font-size: 1.5rem;
  }

  .aboutme-img {
    display: none;
  }
}

/* for smalle screen sizes, hide the portfolio image when in potrait. This makes sure the screen width is sufficient to show the portfolio name and text. When in landscape, the portfolio image pops up for smaller screens*/
@media screen and (min-width: 200px) and (max-width: 499px) and (orientation: portrait) {
  header {
    width: 55%;
    font-weight: 50;
    line-height: 1rem;
  }

  ul {
    padding-top: 5px;
  }

  /*
  header img {
    visibility: hidden;
  }*/
  .coverpage-row-3 {
    top: 40%;
  }
  .coverpage-column-3 {
    font-size: 1rem;
  }

  .coverpage-column-2 {
    font-size: 1.5rem;
  }

  .cover-child-p-2 img {
    visibility: hidden;
  }
}
